@CHARSET "UTF-8";
	
	* {
	  box-sizing: border-box;
	}
	
	.banner {
	background-color: rgba(235, 235, 240, 0.66);
	position: relative;
	height: 90px;
	width: 100%;
	}
	
	#image {
		position: absolute;
		top: -18px;
		left: 10px;
		z-index: 1;
		width: 125px;
		height: auto;
	}
	
	.dx {
		position: absolute;
		top: 20px;
		right: 5px;
		z-index: 1;
	}
	
	.dx img {
		width: 40px;
		height: 40px;
		margin-left: 15px;
		margin-right: 15px;
	}

	.all {
		padding: 0;
		margin: 0;
	}
	
h2 {
  text-align: center;
  margin:0;
  padding:0;
}

a:link {
  color: #1d1d1f;
  font-weight: bold;
}


a:visited {
  color: #1d1d1f;
  font-weight: bold;
}


a:hover {
  color: #e7e7e7;
  font-weight: bold;
}

a:active {
  color: #1d1d1f;
  font-weight: bold;
}

label {
  font-weight: bold;
}

form input[type=text],
form input[type=number],
form input[type=password],
form input[type=date],
form input[type=range],
form input[type=email],
form input[type=url],
form input[type=time],
form input[list] {
  width: 100%;
  font-size: 1em;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F7;
  margin: 0;
}

form {
  max-width: 500px;
  margin: auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
  text-align: center;
  font-size: 36px;
  color: #1a202c;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #1a202c;
}

button[type="submit"] {
  background-color: #1a202c;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
  background-color: #ffd000;
}

p {
margin: 20px 0;
font-size: 16px;
text-decoration: none;
}

header {
background-color: #F5F5F7;
height: 60px;
color: #fff;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 20px;
}

.logo {
font-size: 24px;
font-weight: bold;
text-transform: uppercase;
}



/* Tabella dei dettagli del prodotto */
table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table th,
table td {
  padding: 8px;
  border: 1px solid #ccc;
}

table th {
  background-color: #f2f2f2;
  text-align: left;
}
